@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito&family=Open+Sans&display=swap");
.artist {
  background: #111229;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 268px;
  position: relative;
}

.back_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 8px;
  bottom: 8px;
  background: linear-gradient(163.41deg, #301a68 0.11%, #234c97 170.69%);
  border-radius: 8px;
  z-index: -1;
}

.artist_image {
  width: 100%;
}

.more_info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.more_info div {
  display: flex;
  align-items: center;
}

.category {
  width: fit-content;
  padding: 2px 6px;
  background: #e5c558;
  border-radius: 1px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin: 25px 0 8px 0;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #682f26;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.artist_details {
  margin-left: 10px;
}

.name {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0 0 18px 0;
}

.text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0259eb;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px 0 0;
}

.booking {
  height: 26px;
  width: 20px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 2px;
}

.booking:hover {
  background: url("./assets/Booking_Colored.png");
}

.divider {
  margin-left: 50px;
}
